body {
	font-family: "Verdana", Verdana, sans-serif;
	font-size: 12px;
}

ul {
	float: left;
}

ul.legend-0 li {
	display: block; 
	border-radius: 5px;
	width: 300px;
	list-style: none;
	vertical-align: middle;
}

ul.legend-0 li div {
	display: inline-block;
	margin-top: 15px;
	margin-left: 10px;
	vertical-align: top;
	width: 25px;
	height: 10px;
	border-radius: 10px;
}

ul.legend-0 li p {
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
	width: 60%;
	height: auto;
}

ul.legend-0 li span {
	display: inline-block;
	margin-top: 12px;
	vertical-align: top;
	width: 20%;
	text-align: center;
}

.legend-item-hover {
	background-color: #eee;
}

/* Styling for bar 0*/
#planned-executed-0 {
	position: relative;
	width: 800px;
}

	#planned-executed-0 h1 {
		font-size: 20px;
		color: #030303;
		font-weight: 500;
		padding: 0;
		margin: 0 0 0 10px;
	}

	#executed-0 {
		display: inline-block;
		margin-left: 10px;
		width: 150px;
	}
		#executed-0 p {
			margin: 2px 0 0 0;
			font-size: 20px;
			color: #cecece;
		}
		#executed-0 span {
			margin: 2px 0 0 0;
			font-size: 24px;
			color: #71c499;
		}

		#executed-0 .meassure {
			display: inline;
			font-size: 12px;
			margin-left: 3px;
			color: #71c499;
		}

	#planned-0 {
		width: 150px;
		margin-left: 27px;
		display: inline-block;
	}
		#planned-0 p {
			margin: 2px 0 0 0;
			font-size: 20px;
			color: #cecece;
		}
		#planned-0 span {
			margin: 2px 0 0 0;
			font-size: 24px;
			color: #71c499;
		}
		#planned-0 .meassure {
			display: inline;
			font-size: 12px;
			margin-left: 3px;
			color: #71c499;
		}

	#planned-bar-0 {
		width: 420px;
		height: 40px;
		margin-left: 27px;
		background: #f6f6f6;
		display: inline-block;
	}

	#executed-bar-0 {
		position: absolute;
		top: 34px;
		left: 195px;
		z-index: 1;
		height: 40px;
		background: #71c499;
		display: block;
	}	

	#planned-executed-bubble-0 {
		position: absolute;
		width: 50px;
		height: 18px;
		z-index: 2;
		left: 331px;
		top: 17px;
		background: #fff;
		text-align: center;
		vertical-align: baseline;
		padding: 7px 0 7px 0;
		border-radius: 30px;
		font-size: 14px;
		font-weight: 500;
		color: #71c499;
	}

	#planned-executed-bubble-0:before {
		position: absolute;
		content: '';
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 10px solid #fff;
		top: 29px;
		left: 20px;
	}

/* Styling for bar 1*/
#planned-executed-1 {
	position: relative;
	width: 800px;
}

	#planned-executed-1 h1 {
		font-size: 20px;
		color: #030303;
		font-weight: 500;
		padding: 0;
		margin: 0 0 0 10px;
	}

	#executed-1 {
		display: inline-block;
		margin-left: 10px;
		width: 150px;
	}
		#executed-1 p {
			margin: 2px 0 0 0;
			font-size: 20px;
			color: #cecece;
		}
		#executed-1 span {
			margin: 2px 0 0 0;
			font-size: 24px;
			color: #ffcc33;
		}

		#executed-1 .meassure {
			display: inline;
			font-size: 12px;
			margin-left: 3px;
			color: #ffcc33;
		}

	#planned-1 {
		width: 150px;
		margin-left: 27px;
		display: inline-block;
	}
		#planned-1 p {
			margin: 2px 0 0 0;
			font-size: 20px;
			color: #cecece;
		}
		#planned-1 span {
			margin: 2px 0 0 0;
			font-size: 24px;
			color: #ffcc33;
		}
		#planned-1 .meassure {
			display: inline;
			font-size: 12px;
			margin-left: 3px;
			color: #ffcc33;
		}

	#planned-bar-1 {
		width: 420px;
		height: 40px;
		margin-left: 27px;
		background: #f6f6f6;
		display: inline-block;
	}

	#executed-bar-1 {
		position: absolute;
		top: 34px;
		left: 195px;
		z-index: 1;
		height: 40px;
		background: #ffcc33;
		display: block;
	}	

	#planned-executed-bubble-1 {
		position: absolute;
		width: 50px;
		height: 18px;
		z-index: 2;
		left: 331px;
		top: 17px;
		background: #fff;
		text-align: center;
		vertical-align: baseline;
		padding: 7px 0 7px 0;
		border-radius: 30px;
		font-size: 14px;
		font-weight: 500;
		color: #ffcc33;
	}

	#planned-executed-bubble-1:before {
		position: absolute;
		content: '';
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 10px solid #fff;
		top: 29px;
		left: 20px;
	}

#sc-barchart-0 {
	margin: 20px;
	position: relative;

}

.barchart-scale {
	position: relative;
	display: block;
	width: 600px;
	height: 40px;
	margin: 0;
	padding: 0;

}

.barchart-scale p {
	position: relative;
	z-index: 1;
	bottom: 0;
	display: inline-block;
	width: 40px;
	margin: 0 10px 10px 0;
	padding: 0;
	text-align: right;
}

.barchart-scale div {
	position: relative;
	z-index: 1;
	bottom: 0;
	display: inline-block;
	bottom: 0;
	width: 500px;
	height: 39;
	background: transparent;
	border-bottom: 1px dotted #bbb;
	margin: 0;
	padding: 0;
}

.barchart-barblock {
	display: inline-block;
	position: relative;
	margin-left: 130px;
	left: 0;
	z-index: 2;
	width: auto;
	height: auto;
}

.barchart-bar {
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 3;
	width: 25px;
	margin-right: 3px;
}

.barchart-bar-0 {
	background-color: #009999;
}

.barchart-bar-1 {
	background-color: #86B32D;
}

.barchart-bar-2 {
	background-color: #BF3030;
}