body {
	font-family: "Verdana", Verdana, sans-serif;
	font-size: 12px;
}

ul {
	float: left;
}

ul.legend-0 li {
	display: block; 
	border-radius: 5px;
	width: 300px;
	list-style: none;
	vertical-align: middle;
}

ul.legend-0 li div {
	display: inline-block;
	margin-top: 15px;
	margin-left: 10px;
	vertical-align: top;
	width: 25px;
	height: 10px;
	border-radius: 10px;
}

ul.legend-0 li p {
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
	width: 60%;
	height: auto;
}

ul.legend-0 li span {
	display: inline-block;
	margin-top: 12px;
	vertical-align: top;
	width: 20%;
	text-align: center;
}

.legend-item-hover {
	background-color: #eee;
}

/* Styling for bar 0*/
#planned-executed-0 {
	position: relative;
	width: 800px;
}

	#planned-executed-0 h1 {
		font-size: 20px;
		color: #030303;
		font-weight: 500;
		padding: 0;
		margin: 0 0 0 10px;
	}

	#executed-0 {
		display: inline-block;
		margin-left: 10px;
		width: 150px;
	}
		#executed-0 p {
			margin: 2px 0 0 0;
			font-size: 20px;
			color: #cecece;
		}
		#executed-0 span {
			margin: 2px 0 0 0;
			font-size: 24px;
			color: #71c499;
		}

		#executed-0 .measure {
			display: inline;
			font-size: 12px;
			margin-left: 3px;
			color: #71c499;
		}

	#planned-0 {
		width: 150px;
		margin-left: 27px;
		display: inline-block;
	}
		#planned-0 p {
			margin: 2px 0 0 0;
			font-size: 20px;
			color: #cecece;
		}
		#planned-0 span {
			margin: 2px 0 0 0;
			font-size: 24px;
			color: #71c499;
		}
		#planned-0 .measure {
			display: inline;
			font-size: 12px;
			margin-left: 3px;
			color: #71c499;
		}

	#planned-bar-0 {
		width: 420px;
		height: 40px;
		margin-left: 27px;
		background: #f6f6f6;
		display: inline-block;
	}

	#executed-bar-0 {
		position: absolute;
		top: 34px;
		left: 195px;
		z-index: 1;
		height: 40px;
		background: #71c499;
		display: block;
	}	

	#planned-executed-bubble-0 {
		position: absolute;
		width: 50px;
		height: 18px;
		z-index: 2;
		left: 331px;
		top: 17px;
		background: #fff;
		text-align: center;
		vertical-align: baseline;
		padding: 7px 0 7px 0;
		border-radius: 30px;
		font-size: 14px;
		font-weight: 500;
		color: #71c499;
	}

	#planned-executed-bubble-0:before {
		position: absolute;
		content: '';
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 10px solid #fff;
		top: 29px;
		left: 20px;
	}

/* Styling for bar 1*/
#planned-executed-1 {
	position: relative;
	width: 800px;
}

	#planned-executed-1 h1 {
		font-size: 20px;
		color: #030303;
		font-weight: 500;
		padding: 0;
		margin: 0 0 0 10px;
	}

	#executed-1 {
		display: inline-block;
		margin-left: 10px;
		width: 150px;
	}
		#executed-1 p {
			margin: 2px 0 0 0;
			font-size: 20px;
			color: #cecece;
		}
		#executed-1 span {
			margin: 2px 0 0 0;
			font-size: 24px;
			color: #ffcc33;
		}

		#executed-1 .measure {
			display: inline;
			font-size: 12px;
			margin-left: 3px;
			color: #ffcc33;
		}

	#planned-1 {
		width: 150px;
		margin-left: 27px;
		display: inline-block;
	}
		#planned-1 p {
			margin: 2px 0 0 0;
			font-size: 20px;
			color: #cecece;
		}
		#planned-1 span {
			margin: 2px 0 0 0;
			font-size: 24px;
			color: #ffcc33;
		}
		#planned-1 .measure {
			display: inline;
			font-size: 12px;
			margin-left: 3px;
			color: #ffcc33;
		}

	#planned-bar-1 {
		width: 420px;
		height: 40px;
		margin-left: 27px;
		background: #f6f6f6;
		display: inline-block;
	}

	#executed-bar-1 {
		position: absolute;
		top: 34px;
		left: 195px;
		z-index: 1;
		height: 40px;
		background: #ffcc33;
		display: block;
	}	

	#planned-executed-bubble-1 {
		position: absolute;
		width: 50px;
		height: 18px;
		z-index: 2;
		left: 331px;
		top: 17px;
		background: #fff;
		text-align: center;
		vertical-align: baseline;
		padding: 7px 0 7px 0;
		border-radius: 30px;
		font-size: 14px;
		font-weight: 500;
		color: #ffcc33;
	}

	#planned-executed-bubble-1:before {
		position: absolute;
		content: '';
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 10px solid #fff;
		top: 29px;
		left: 20px;
	}
/***********************************/
/* 		Styling for barchart       */
/***********************************/
#barchart {
	margin: 20px;
	margin-top: 60px;
}

#sc-barchart-0 {
	position: relative;
}

#sc-barchart-0 p {
	font-size: 11px;
	color: #c0c0c0;
	font-weight: 300;
}

#barchart-info-0 {
	position: absolute;
	display: none;
	z-index: 4;
	background-color: #71c499;
	left: -80;
	margin-bottom: -40px;
	width: 200px;
	height: 80px;
}

#barchart-info-0:before {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #71c499;
	top: 80px;
	left: 97px;
}

#barchart-info-0 .inner-div{
	padding-top: 5px;
	padding-bottom: 10px;
	text-align: center;
}
	#barchart-info-0 span {
		text-align: center;
		color: white;
		font-size: 12px;
		font-weight: 300;
		line-height: 200%;
	}

	#barchart-info-0 .total {
		text-align: center;
		color: #bdffc6;
	}

	#barchart-info-0 .spent {
		text-align: center;
	}

	#barchart-info-0 .prof {
		font-size: 11px;
		text-align: center;
	}

	#barchart-info-0 .left {
		text-align: center;
	}
.barchart-scale {
	position: relative;
	display: block;
	width: 600px;
	height: 40px;
	margin: 0;
	padding: 0;

}

.barchart-scale p {
	position: relative;
	z-index: 1;
	bottom: 0;
	display: inline-block;
	width: 40px;
	margin: 0 10px 10px 0;
	padding: 0;
	text-align: right;
}

.barchart-scale div {
	position: relative;
	z-index: 1;
	bottom: 0;
	display: inline-block;
	bottom: 0;
	width: 500px;
	height: 39;
	background: transparent;
	border-bottom: 1px dotted #c0c0c0;
	margin: 0;
	padding: 0;
}

.barchart-barblock {
	display: inline-block;
	position: relative;
	margin-left: 130px;
	bottom: -1px;
	left: 0;
	z-index: 2;
}

.barchart-barblock p {
	display: block;
	position: absolute;
	z-index: 5;
	top: 7px;
	margin: 0;
	padding: 0;
	width: 60px;
	text-align: center;
}

.barchart-barblock:hover .barchart-bar {
	opacity: 1;
}

.barchart-measure {
	padding: 0;
	margin: 0;
	width: 40px;
	text-align: right;
}

.barchart-bar {
	opacity: 0.7;
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 3;
	margin-left: 3px;
}

.barchart-bar-0 {
	background-color: #71c499;
}

.barchart-bar-1 {
	background-color: #ffcc33;
}

.barchart-bar-2 {
	background-color: #BF3030;
}

.barchart-bar-3 {
	background-color: pink;
}

/* Styling for bar 2 (simplified)*/
#planned-executed-2 {
	position: relative;
	width: 980px;
	background-color: #76C597;
}

	#planned-executed-2 h1 {
		font-size: 28px;
		color: #fff;
		font-weight: 500;
		display: inline;
		vertical-align: top;
	}

	#executed-2 {
		display: inline-block;
		margin-left: 20px;
		width: 150px;
	}
		#executed-2 p {
			margin: 2px 0 0 0;
			font-size: 20px;
			color: #a6e1ae;
		}
		#executed-2 span {
			margin: 2px 0 0 0;
			font-size: 24px;
			color: #a6e1ae;
		}

		#executed-2 .measure {
			display: inline;
			font-size: 12px;
			margin-left: 3px;
			color: #a6e1ae;
		}

	#planned-2 {
		width: 150px;
		margin-left: 27px;
		display: inline-block;
	}
		#planned-2 p {
			margin: 2px 0 0 0;
			font-size: 20px;
			color: #a6e1ae;
		}
		#planned-2 span {
			margin: 2px 0 0 0;
			font-size: 24px;
			color: #a6e1ae;
		}
		#planned-2 .measure {
			display: inline;
			font-size: 12px;
			margin-left: 3px;
			color: #a6e1ae;
		}

	#planned-bar-2 {
		width: 420px;
		height: 40px;
		margin-left: 27px;
		background: #a6e1ae;
		display: inline-block;
	}

	#executed-bar-2 {
		position: absolute;
		top: 34px;
		left: 195px;
		z-index: 1;
		height: 40px;
		background: #b6f7bf;
		display: block;
	}	

	#planned-executed-bubble-2 {
		display: none;
	}

	#planned-executed-bubble-2:before {
		display: none;	
	}

/* Styling for bar 3 (ultra-simplified)*/
#planned-executed-3 {
	position: relative;
}

	#planned-executed-3 h1 {
		display: none;
	}

	#executed-3 {
		position: absolute;
		display: block;
		z-index: 1;
		top: -3px;
		left: 42px;
		width: 150px;
	}
		#executed-3 p {
			font-size: 14px;
			color: #cecece;
		}
		#executed-3 span {
			display: block;
			margin: 45px 0 0 5px;
			font-size: 14px;
			color: #cecece;
			float: left;
		}

		#executed-3 .measure {
			display: inline;
			font-size: 14px;
			margin-left: 3px;
			color: #cecece;
		}

	#planned-3 {
		display: none;
	}

	#planned-bar-3 {
		width: 160px;
		height: 15px;
		margin-left: 27px;
		margin: 60px 0 60px 0;
		background: #f6f6f6;
		display: inline-block;
	}

	#executed-bar-3 {
		position: absolute;
		top: 34px;
		left: 195px;
		z-index: 1;
		height: 15px;
		background: #cecece;
		display: block;
	}	

	#planned-executed-bubble-3 {
		position: absolute;
		width: 50px;
		height: 18px;
		z-index: 2;
		left: 331px;
		top: 29px;
		background: #fff;
		text-align: center;
		vertical-align: baseline;
		padding: 6px 0 6px 0;
		border-radius: 30px;
		font-size: 14px;
		font-weight: 500;
		color: #cecece;
	}

	#planned-executed-bubble-3:before {
		position: absolute;
		content: '';
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 10px solid #fff;
		top: 28px;
		left: 20px;
	}

/***********************************/
/* 		Styling for barchart  2     */
/***********************************/
#sc-barchart-1 {
	position: relative;
}

#sc-barchart-1 p {
	font-size: 11px;
	color: #c0c0c0;
	font-weight: 300;
}

#barchart-info-1 {
	position: absolute;
	display: none;
	z-index: 4;
	background-color: #71c499;
	left: -76;
	top: 20px;
	width: 200px;
	height: 60px;
}

#barchart-info-1:before {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #71c499;
	top: -10px;
	left: 97px;
}

#barchart-info-1 .inner-div{
	padding-top: 5px;
	padding-bottom: 10px;
	text-align: center;
}
	#barchart-info-1 span {
		text-align: center;
		color: white;
		font-size: 12px;
		font-weight: 300;
		line-height: 200%;
	}

	#barchart-info-1 .total {
		text-align: center;
		color: #bdffc6;
	}

	#barchart-info-1 .spent {
		text-align: center;
	}

	#barchart-info-1 .prof {
		font-size: 11px;
		text-align: center;
	}

	#barchart-info-1 .left {
		text-align: center;
	}
.barchart-scale {
	position: relative;
	display: block;
	width: 600px;
	height: 40px;
	margin: 0;
	padding: 0;

}

.barchart-scale p {
	position: relative;
	z-index: 1;
	bottom: 0;
	display: inline-block;
	width: 40px;
	margin: 0 10px 10px 0;
	padding: 0;
	text-align: right;
}

.barchart-scale div {
	position: relative;
	z-index: 1;
	bottom: 0;
	display: inline-block;
	bottom: 0;
	width: 500px;
	height: 39;
	background: transparent;
	border-bottom: 1px dotted #c0c0c0;
	margin: 0;
	padding: 0;
}

.barchart-barblock {
	display: inline-block;
	position: relative;
	margin-left: 130px;
	bottom: -1px;
	left: 0;
	z-index: 2;
}

.barchart-barblock p {
	display: block;
	position: absolute;
	z-index: 5;
	top: 7px;
	margin: 0;
	padding: 0;
	width: 60px;
	text-align: center;
}

.barchart-barblock:hover .barchart-bar {
	opacity: 1;
}

.barchart-measure {
	padding: 0;
	margin: 0;
	width: 40px;
	text-align: right;
}

.barchart-bar {
	opacity: 0.7;
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 3;
	margin-left: 3px;
}

#sc-barchart-1 .barchart-barblock .barchart-bar {
	border-radius: 6px;
	background: white;
}

#sc-barchart-1 .barchart-barblock-0 .barchart-bar {
	border: 2px solid #d46854;
	background: url(budget/shield.png) no-repeat;
	background-position: center bottom;
}

#sc-barchart-1 .barchart-barblock-1 .barchart-bar {
	border: 2px solid #ff7734;
	background: url(budget/pot.png) no-repeat;
	background-position: center bottom;
}

#sc-barchart-1 .barchart-barblock-2 .barchart-bar {
	border: 2px solid #e99031;
	background: url(budget/heart.png) no-repeat;
	background-position: center bottom;
}

#sc-barchart-1 .barchart-barblock-3 .barchart-bar {
	border: 2px solid #fba242;	
	background: url(budget/city.png) no-repeat;
	background-position: center bottom;
}

#sc-barchart-1 .barchart-barblock-4 .barchart-bar {
	border: 2px solid #ffd647;
	background: url(budget/palms.png) no-repeat;
	background-position: center bottom;	
}


#sc-barchart-1 .barchart-barblock-5 .barchart-bar {
	border: 2px solid #ffe17a;
	background: url(budget/case.png) no-repeat;
	background-position: center bottom;	
}

#sc-barchart-1 .barchart-barblock-6 .barchart-bar {
	border: 2px solid #fff47c;
	background: url(budget/book.png) no-repeat;
	background-position: center bottom;	
}

#sc-barchart-1 .barchart-barblock-7 .barchart-bar {
	border: 2px solid #f1d659;
	background: url(budget/tap.png) no-repeat;
	background-position: center bottom;	
}

#sc-barchart-1 .barchart-barblock-8 .barchart-bar {
	border: 2px solid #d4af60;
	background: url(budget/car.png) no-repeat;
	background-position: center bottom;	
}

#sc-barchart-1 .barchart-barblock-9 .barchart-bar {
	border: 2px solid #d47e60;
	background: url(budget/dots.png) no-repeat;
	background-position: center bottom;	
}